<nav *ngIf="authService.isLoggedIn()" class="landing navbar navbar-expand-lg navbar-light">

  <div class="container">
    <div class="collapse navbar-collapse" id="landing">
      <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item">
          <a [ngClass]="router.url == '/' ? 'nav-link selected': 'nav-link'" routerLink="">
            <span class="fa fa-search"></span>
            <b> Søg</b>
          </a>
        </li>
        <li class="nav-item">
          <button class="btn" (click)="authService.logout()">log ud</button>
        </li>
      </ul>
    </div>
  </div>
</nav>