<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Genererer PDF-filer...</p>
</ngx-spinner>

<div class="container center">
  <h5 style="margin-top:1rem" class="card-title">Upload faktura</h5>

  <button class="fileSelectBtn" mat-flat-button #fileSelector (click)="fileInput.click()">Vælg Fil</button>
  <input hidden (change)="onFileSelected($event.target.files)" #fileInput type="file" id="file">
  <div *ngIf="selectedFile">{{ selectedFile.name }}</div>

  <div style="margin-top: 1rem;">
    <button mat-flat-button color="warn" (click)="fileReset()" [disabled]="!selectedFile">Fjern fil</button>
    <button style="margin-left: 1rem;" type="submit" color="primary" mat-flat-button (click)="createParsing()"
      [disabled]="!selectedFile || uploadDisabled">Upload</button>
  </div>
</div>

<div>
    <toaster-container [toasterconfig]="config"></toaster-container>
</div>

<!-- <div *ngIf="fakturaToPDF">
  <app-faktura-pdf id="presentation" #presentation [faktura]="fakturaToPDF"></app-faktura-pdf>
</div> -->