<div class="logo-area nographic" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-7 col-md-6 noindex">
        <a id="Home" class="ms-dialogHidden logo" href="https://www.rigshospitalet.dk/">
          <img id="Logo" src="assets/Rigshos.png" alt="Rigshospitalet">
        </a>
        <div class="tagline hidden-xs">Et højt specialiseret hospital <br>på Blegdamsvej og i Glostrup</div>
      </div>

      <div class="col-xs-6 col-sm-5 col-md-6 noindex">
        <ul class="servicemenu servicemenu-left list-unstyled hidden-xs noindex">
          <li class="servicemenuitem servicemenuitem-first"><a class="link-dark" href="https://www.rigshospitalet.dk/kontakt/Sider/default.aspx">Kontakt</a></li>
          <li class="servicemenuitem"><a href="https://www.rigshospitalet.dk/praktisk-information/transport/Sider/default.aspx"
              class="link-dark">Find vej</a></li>
          <li class="servicemenuitem"><a href="https://www.rigshospitalet.dk/presse-og-nyt/Sider/default.aspx" class="link-dark">Presse
              og nyt</a></li>
          <li class="servicemenuitem"><a href="https://www.rigshospitalet.dk/om-hospitalet/Sider/default.aspx" class="link-dark">Om
              hospitalet</a></li>
          <li class="servicemenuitem"><a href="https://www.rigshospitalet.dk/selvbetjening/Sider/default.aspx" class="link-dark">Selvbetjening</a></li>
          <li class="servicemenuitem"><a href="https://www.rigshospitalet.dk/hospitaler-i-regionen/Sider/default.aspx"
              class="link-dark">Andre hospitaler</a></li>
          <li class="servicemenuitem"><a href="https://www.rigshospitalet.dk/om-region-hovedstaden/Sider/default.aspx"
              class="link-dark">Om regionen</a></li>
          <li class="servicemenuitem servicemenuitem-last"><a href="https://www.rigshospitalet.dk/english/Pages/default.aspx"
              class="link-dark">English</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>